.profile__info_edit-box{
    width: 10px;
    height: 10px;
    padding: 7px;
    border: 1px solid #FFFFFF;
    align-self: end;
    margin-bottom: 7px;
    transition: 0.4s; /*для эстетических целей*/
}

.profile__info_edit-box:hover{
    opacity: 0.6;
    cursor: pointer;
}

/*Вариант для смартфона*/
@media screen and (max-width: 1023px){
    .profile__info_edit-box{
        width: 7.5px;
        height: 7.5px;
        padding: 5.25px;
        margin-bottom: 5px;
    }
}