.popup__closemark{
    padding: 0;
    margin: 0;
    position: absolute;
    background: none;
    border: none;
    background-image: url(../../../images/krestik.svg);
    left: 421.71px;
    top: -40px;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    background-size: cover;
}

.popup__closemark:hover{
    opacity: 0.6;
    cursor: pointer;
}

.popup__closemark:active{
    overflow: hidden;
    margin: 0;
}

/*Вариант для смартфона*/
@media screen and (max-width: 767px) {
    .popup__closemark{
        left: 245.62px;
        top: -50.39px;
        width: 36.77px;
        height: 36.77px;
    }
}