.like__active{
    width: 22px;
    height: 19px;
    z-index: 1;
    overflow: hidden;
    background: none;
    border: none;
    background-image: url(../../../images/black-heart.png);
}

.like__active:hover{
    opacity: 0.5;
    cursor: pointer;
}

.like__active:active{
    background-image: url(../../../images/white-heart.png);
}