.profile__subtitle{
    font-family: 'Inter-Medium', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    line-height: 22px;
}

/*Вариант для смартфона*/
@media screen and (max-width: 1023px) {
    .profile__subtitle{
        width: 189px;
        margin: 0 auto;
        padding: 0;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
    }
}