.card__like-button{
    width: 22px;
    height: 19px;
    overflow: hidden;
    border: none;
    background: none;
    background-image: url(../../../images/white-heart.png);
}

.card__like-button:hover{
    opacity: 0.5;
    cursor: pointer;
}

.card__like-button:active{
    background-image: url(../../../images/black-heart.png);
    opacity: 1;
}