.like_active{
    width: 22px;
    height: 19px;
    overflow: hidden;
    border: none;
    background: none;
    background-image: url(../../../images/black-heart.png);
}

.like_active:hover{
    opacity: 0.5;
    cursor: pointer;
}

.like_active:active{
    background-image: url(../../../images/black-heart.png);
    opacity: 1;
}