.popup-type-window__figure{
    height: 514px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
 
/*Вариант для смартфона*/
@media screen and (max-width: 932px) {
    .popup-type-window__figure{
        height: 299px;
    }
}