.window__container{ 
    margin: 0;
    padding: 0;
    position: fixed;
    margin-top: calc((100vh - 540px)/2);
    margin-left: calc((100vw - 816px)/2);
    width: 816px;
    z-index: 10;
}

/*Вариант для смартфона*/
@media screen and (max-width: 932px) {
    .window__container{
        margin-top: calc((100vh - 299px)/2);
        margin-left: calc((100vw - 240px)/2);
        width: 240px;
        height: 299px;
    }
}