.profile__editpencil{
    position: absolute;
    top: 5.25px;
    left: 5.25px;
    margin: 0;
    padding: 0;
    width: 10px;
    height: 10px;
}

.profile__editpencil{
    opacity: 0.6;
    cursor: pointer;
}

/*Вариант для смартфона*/
@media screen and (max-width: 1023px){
    .profile__editpencil{
        top: 5px;
        left: 5px;
        width: 7.5px;
        height: 7.5px;
    }
}