.profile__editbox{
    position: relative;
    background: none;
    width: 24px;
    height: 24px;
    padding: 7px;
    border: 1px solid #FFFFFF;
    align-self: end;
    margin-bottom: 7px;
    transition: 0.4s; /*для эстетических целей*/
}

.profile__editbox:hover{
    opacity: 0.6;
    cursor: pointer;
}

/*Вариант для смартфона*/
@media screen and (max-width: 1023px){
    .profile__editbox{
        padding: 0;
        margin: 0;
        width: 19px;
        height: 19px;
        margin-bottom: 6px;
    }
}