.card{
    margin: 0 auto;
    width: 282px;
    height: 361px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    position: relative;
}